:root {
  --primary-pink: hsl(322, 100%, 66%);
  --neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
/* ------- */
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.header__button a {
  background-color: #fff;
  color: var(--neutral-very-dark-cyan);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 0.25rem 1.375rem 0.375rem;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.hero__wrapper {
  color: var(--neutral-very-dark-cyan);
}

.hero__content h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.hero__content p {
  font-size: 1rem;
  line-height: 1.5;
}

.hero__button a {
  background-color: var(--primary-pink);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  padding: 0.625rem 3.75rem 0.875rem;
  border-radius: 1.25rem;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

.card__content h2 {
  color: var(--neutral-very-dark-cyan);
  font-size: 1.25rem;
  line-height: 1.5;
}

.card__content p {
  color: var(--neutral-grayish-blue);
  font-size: 0.875rem;
  line-height: 1.5;
}

.cta__content h2 {
  color: var(--neutral-very-dark-cyan);
  font-size: 1.125rem;
  line-height: 1.6;
}

.cta__content a {
  background-color: var(--primary-pink);
  color: #fff;
  font-size: 0.625rem;
  line-height: 1.5;
  padding: 0.781rem 3.125rem;
  border-radius: 1.25rem;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

.footer__wrapper {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.71;
}

.footer__links ul li a {
  color: #fff;
}

.copyright__wrapper p {
  font-size: 0.696rem;
  line-height: normal;
}

/* Mobile - 375 px */
/* --------------- */

/* Header - 375px */
.header-hero__container {
  background-image: url(/images/bg-hero-mobile.svg);
  background-color: var(--neutral-very-pale-cyan);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.688rem 1rem 0;
}

header img {
  width: 6.5rem;
}

.header__image,
.header__button {
  align-self: center;
}

/* Hero - 375px */
.hero__wrapper {
  padding: 5rem 2.188rem 2.313rem;
  text-align: center;
}

.hero__content p {
  margin-top: 1.5rem;
}

.hero__button {
  margin-top: 2rem;
}

.hero__image {
  margin-top: 3.5rem;
}

/* Benefit - 375px */
.benefit__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.5rem 1.25rem 0;
}

.benefit__card {
  border-radius: 1rem;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  text-align: center;
}

/* Card 1 */
.benefit__card:nth-of-type(1) .card__image {
  padding: 3.5rem 3.063rem 3.375rem;
}

.benefit__card:nth-of-type(1) .card__content p {
  padding: 1rem 2.313rem 2.063rem;
}

/* Card 2 */
.benefit__card:nth-of-type(2) .card__image {
  padding: 4.1rem 2.838rem;
}

.benefit__card:nth-of-type(2) .card__content p {
  padding: 1rem 2.438rem 3.375rem;
}

/* Card 3 */
.benefit__card:nth-of-type(3) .card__image {
  padding: 3.729rem 2.809rem;
}

.benefit__card:nth-of-type(3) .card__content p {
  padding: 1rem 2.688rem 2.063rem;
}

/* CTA - 375px */
.cta__wrapper {
  background-color: #fff;
  border-radius: 0.938rem;
  box-shadow: 0px 0px 0.875rem 0px rgba(0, 0, 0, 0.07);
  margin: 7.5rem 0.75rem 0;
}

.cta__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2.563rem 0.75rem;
}

/* Footer - 375px */
.footer__container {
  background-color: var(--neutral-very-dark-cyan);
  position: relative;
  z-index: -1;
  margin-top: -4rem;
}

.footer__wrapper {
  padding: 9rem 1rem 2.875rem;
}

.footer__img {
  width: 10.438rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}

.contact__wrapper {
  display: flex;
  gap: 1.4rem;
}

.contact__wrapper:nth-of-type(1) {
  padding-top: 1.563rem;
}

.contact__wrapper:nth-of-type(3) p {
  margin-top: -0.125rem;
}

.contact__wrapper:nth-of-type(2),
.contact__wrapper:nth-of-type(3) {
  gap: 0;
}

.contact__image {
  width: 2.25rem;
}

.footer__links {
  padding-top: 2.563rem;
}

.footer__links ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.footer__links ul li {
  align-self: flex-start;
}

.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.709rem;
  padding-top: 1.5rem;
  color: #fff;
}

.social__links ul {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.625rem;
}

.social__links svg path {
  fill: #fff;
}

.copyright__wrapper {
  text-align: center;
  padding-top: 1.5rem;
}

@media screen and (min-width: 48rem) {
  /* Styling */
  /* ------- */
  .header__button a {
    font-size: 0.875rem;
    line-height: normal;
    padding: 0.813rem 4.063rem 1rem 3.938rem;
    border-radius: 1.5rem;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
  }

  .hero__content h1 {
    font-size: 2.5rem;
  }

  .hero__content p {
    font-size: 1.125rem;
  }

  .hero__button {
    margin-top: 2.3rem;
  }

  .hero__button a {
    font-size: 0.875rem;
  }

  /* Header - 1440px (MAX) */
  header {
    padding: 3.125rem 5rem 0;
  }

  header img {
    width: 12.5rem;
  }

  /* Hero - 1440ppx (MAX) */
  .hero__wrapper {
    display: grid;
    grid-template-columns: 33.5rem 40.188rem;
    justify-content: space-between;
    padding: 4.438rem 5.625rem 4.5rem 5rem;
    text-align: start;
  }

  .hero__image {
    margin-top: 0;
  }

  .hero__content {
    padding-top: 5.4rem;
  }
}
