:root {
  --primary-pink: hsl(322, 100%, 66%);
  --neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/* Footer - 375px */
.footer__container {
  background-color: var(--neutral-very-dark-cyan);
}
